* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
body{
  background-image: url('images/neom-WpOMM4uE-F8-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  margin-left: 64px;
  padding: 24px;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.score-head {
  display: flex;
  justify-content: space-around;
}

#add-score {
  display: flex;
  flex-direction: column;
  margin: 24px;
  padding: 24px;
  width: 50%;
}

li {
  padding: 5px;
}

#score-List li:nth-child(even) {
  background-color: gray;
  border: 1px solid darkblue;
}
#score-List li:nth-child(odd) {
  background-color: gainsboro;
    border: 1px solid snow;
}


#score-List {
  margin: 24px;
  border: solid 1px;
  list-style: none;
}

#scores-Element {
  margin: 24px;
  padding: 24px;
  width: 70%;
}

input {
  margin: 10px;
  padding: 5px;
  background: gainsboro;
}
#refresh{
  background: gainsboro;
  padding: 5px;
}

.submit {
  width: fit-content;
  align-self: end;
  margin: 10px;
  background: gainsboro;
  padding: 5px;
  cursor: pointer;
}
#refresh:hover:active{
  box-shadow: 5px 5px black;

}

.submit:hover:active {
  background-color: red;
  box-shadow: 5px 5px black;
}
